<ion-view>
    <div class="bar bar-positive">
        <div class="col button ion-arrow-left-c col-25"></div>
        <div class="col col-50">
            <h1 class="ion-calendar title"> data.period</h1>
        </div>
        <div class="col col-25 button ion-arrow-right-c"></div>
    </div>
    <ion-content class="has-header">

        <div id="list-horaires">
            <ul>
                <li class="day">Lundi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Mardi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Mercredi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Jeudi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Vendredi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Samedi <span class="time">09h00 - 19h00</span></li>
                <li class="day">Dimanche <span class="time">09h00 - 19h00</span></li>

            </ul>
        </div>
    </ion-content>
</ion-view>